@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Thai+Looped:wght@200;300;400&family=Josefin+Sans:wght@200;300;400;600&family=Passion+One&family=Poppins:wght@100;200;300&family=Sriracha&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
body a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .text {
  display: flex;
  flex-direction: column;
}
.header .text h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 3rem;
}
.header .text h3 {
  text-align: center;
  margin-bottom: 40px;
}
.header img {
  align-self: flex-end;
  height: 50vh;
}

.paralax {
  background-image: url("../image/programador.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.paralax h1 {
  border: 1px solid #139e74;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content .slides {
  display: flex;
  width: 200vw;
  height: 100%;
}
.content .slides input {
  display: none;
}
.content .slides .slide {
  border: 1px solid #139e74;
  width: 25vw;
  height: 50vh;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background-size: 70%;
  transition: 0.2s;
  margin-left: 2px;
  background-color: #0c0c0c;
}
.content .slides .slide:hover {
  width: 27vw;
  height: 52vh;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 20px;
}
.content .slides .slide h2 {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  background-color: rgba(218, 214, 214, 0.664);
  border: 1px solid #139e74;
  border-radius: 3px;
  width: 40%;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: serif;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
  transition: 0.7s;
}

#slide2:checked ~ .s1 {
  margin-left: -50%;
  transition: 0.7s;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation label img {
  width: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 20px;
}
.navigation label img:hover {
  cursor: pointer;
  width: 30.6px;
}

.chamada {
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding: 70px;
  box-shadow: inset 2px 2px 5px black;
}
.chamada h2 {
  color: #2f2f2f;
  width: 60vw;
  text-align: center;
}

.paralax2 {
  background-image: url("../image/programador2.jpg");
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form {
  min-height: 40vh;
  padding-top: 30px 5px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.form fieldset {
  display: flex;
  border: none;
}
.form .container {
  position: relative;
}
.form .container input {
  margin: 10px 10px;
  width: calc(100% - 20px);
  height: 70px;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 10px 0px 10px;
  border: none;
  background-color: #c5c5c5;
}
.form .container input:focus ~ label, .form .container input:valid ~ label {
  left: 20px;
  top: -10px;
  color: #085d44;
}
.form .container label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
  position: absolute;
  line-height: 70px;
  top: 10px;
  left: 20px;
  user-select: none;
  pointer-events: none;
  transition: 0.5s;
}
.form button {
  font-size: 1em;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: #139e74;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 4px black;
}
.form button:hover {
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 40px;
  margin-bottom: 27px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
}
footer a {
  color: #0a9c0a;
}
footer a:hover {
  cursor: pointer;
  font-size: 1.05em;
  margin-top: 11px;
  margin-bottom: 11px;
}

/*# sourceMappingURL=style.css.map */
