@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@200;300;400;600&family=Passion+One&family=Poppins:wght@100;200;300&family=Sriracha&display=swap");

$font-padrao: "Poppins", sans-serif;

$primary-color: white;
$title-color: rgb(42, 42, 42);
$text-color: black;
$bg-color1: #250bd9;
$bg-color2: #9000db;
$bg-color3: #fa33f2;

$container-width: 400px;
