@charset "UTF-8";
@import "variaveis";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Thai+Looped:wght@200;300;400&family=Josefin+Sans:wght@200;300;400;600&family=Passion+One&family=Poppins:wght@100;200;300&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: $font-padrao;
}

.img1 {
  @include img("NY-02.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    color: white;
    background-color: rgb(63, 62, 62);
    width: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    @include mobile-h1;
  }
}

.img2 {
  @include img("NY-01.jpg");
  height: 80vh;
  width: 100%;
}

.img3 {
  @include img("NY-03.jpg");
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    @include mobile-h1;
    color: white;
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: center;
    @include mobile-h1;
  }
}

.img4 {
  @include img("NY-04.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    color: white;
    background-color: rgb(37, 36, 36);
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    @include mobile-h1;
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 36, 36);
  color: white;

  & div {
    width: 80%;
    padding: 50px 0;
  }
  & div p {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6em;
    @include mobile-p;
  }
  & div h2 {
    text-align: center;
    @include mobile-h2;
  }
}

#white {
  color: rgb(37, 36, 36);
  background-color: white;
}
